$gridstrap-columns: 12 !default;

@for $i from 1 through $gridstrap-columns {
	[data-col='#{$i}']{
		width: (100% / $gridstrap-columns) * $i;
	}
}

[data-col]{
	min-height: 100px;
	position: relative;
	float:left;
	padding-left: 15px;
	padding-right: 15px;
}
.gs-canvas{
	.gs-tools-drawer {
		display: none;
	}	
	&.gs-editing{
		.gs-tools-drawer {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			background: blue;
			margin: 0 -5px 5px;
			display: block;
		}
		.gs-tools-drawer{
			 > a {
				display: inline-block;
				padding: 5px;
				&:hover {
					background: rgba(255, 255, 255, 0.5);
					cursor: pointer;
				}
			}
			.gs-details {
				padding: 5px;
				border-top: 1px solid rgba(0, 0, 0, 0.05);
				display: none;
			}
			.gs-details .btn-group a {
				color: #333;
			}
			.gs-details .btn-group a:hover {
				text-decoration: none;
				cursor: pointer;
			}
			.gs-details input.gs-id {
				border: 1px solid #7F7F7F;
				border-radius: 4px;
				font-size: 11px;
				padding: 2px 5px;
				margin-right: 5px;
				width: 80px;
			}
		}
		.gs-row {
			background-color: #efefef;
			border: 1px solid #999999;
			padding: 0 5px 5px;
			margin-bottom: 5px;
			margin-left: 0;
			margin-right: 0;
			> .gs-tools-drawer {
				background: #e5e5e5;
			}
			> .gs-tools-drawer > a {
				color: #666;
				&.gs-add-column {
					color: #178acc;
				}
			}
		}
		[data-col] {
			background-color: rgba(47, 164, 231, 0.15);
			border: 1px solid #2FA4E7;
			padding: 0 5px 5px;
			> .gs-tools-drawer {
				background: #afd5ea;
				a {
					color: #178acc;
				}
				> a.gs-add-row {
					color: #666;
				}
			}
		}
		.gs-content-type.active {
			outline: 1px dotted #333;
		}
		.ui-sortable-placeholder {
			background: rgba(255, 255, 0, 0.2);
			visibility: visible !important;
			min-height: 50px;
		}
	}
}