$gridstrap-columns: 12 !default;

@for $i from 1 through $gridstrap-columns {
	[data-col='#{$i}']{
		width: (100% / $gridstrap-columns) * $i;
	}
}


.gridstrap{
	.gs-placeholder {
		float: left;
		position: relative;
		margin-top: 5px;
		margin-bottom: 5px;
		
		background: transparent;
		visibility: visible !important;
		border: 1px dashed #333;
	}
	&.gs-editing{
	}
	.gs-col{
		position: relative;
		float:left;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 15px;
		padding-right: 15px;
		transition: width 400ms ease-out;
		min-height: 100px;
		z-index: 5;
		&.gs-clone{
			transition: left 400ms ease-out, top 400ms ease-out;
			z-index: 10;
		}
		&.gs-moving{
			z-index: 15;
		}
		&.gs-moving,
		&.ui-resizable-resizing{
			.gs-content {
				box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
				opacity: 0.6;
			}
		}
		.gs-resizer{
			z-index:100;
		}
		> .ui-resizable-handle{
			display: none !important;
		}
		&.mouseover,
		.ui-resizable-resizing{
			> .ui-resizable-handle{
				display: block !important;
				font-size: 14px;
				height: 100%;
				width: 15px;
				i{
					position:absolute;
					top:50%;
				}
			}
			> .ui-resizable-w{
				margin-left:5px;
			}
			> .ui-resizable-e{
				margin-right:5px;
			}
		}
		> .gs-content{
			height: 100%;
			left: 0;
			right: 0;
			color: #2c3e50;
			background-color: #fff;
            border:1px dashed rgba(93, 93, 93, 0.50);
			overflow: hidden;
			//box-shadow: 2px 2px 6px 0 $m-gray;
			
			&:hover{

				border:1px dashed rgba(93, 93, 93, 0.50);
				transition: border 500ms ease-in;
				cursor: move;
			}

		}
		&.delete .gs-content:hover {
			border: 1px dashed #f00;
		}
		&.preview-mode{
			.delete-tab,
			.add-tab{
				display: none;
			}
			
			.gs-col > .gs-content:hover,
			.draggable-component:hover{
				cursor: default;
			}
			
			> .gs-content{
				border-color: transparent;
				&:hover{
					cursor: normal;
				}
				>.field-label{
					display: none;
				}
				>.field-actions-resize{
					display: none;
				}
				>.field-actions-plus{
					
				}
				.ui-resizable-handle{
					display: none !important;
				}
			}
		}
		&.edit-mode > .gs-content{
			
		}
		
		.field-actions {
			position:relative;
			z-index: 10;
		/*
			padding-left: 5px;
			padding-top: 5px;
			padding-right:5px;
		*/
				
			a:hover {
				text-decoration: none;
			}
			.btn {
				background-color: #fff;
				float:left;
				display: inline-block;
				width: 32px;
				height: 32px;
				padding: 0;
				visibility: hidden;
				border-radius: 0;
				border-color: #b3b3b3;
				color: #b3b3b3;
				line-height: 32px;
				font-size: 12px;
				border-width: 0 0 1px 1px;
			}
			
			&.float-left {
				.btn:last-child {
					border-bottom-right-radius: 5px;
				}
			}
			.edit-button,
			.preview-button {
				border-bottom-left-radius: 5px;
			}
			
			.toggle-form {
				font-size: .85em;
				background-color: rgba(255, 255, 255, 0.75);
			}
			.toggle-form:hover {
				color: #000;
			}
			.del-button:hover {
				background-color: $m-red;
				transition: background-color .2s ease-in, color .2s ease-in;
				color: #fff;
			}
			.edit-button {
				display:none;
				&:hover{
					background-color: $m-lightgreen;
					transition: background-color .2s ease-in, color .2s ease-in;
					color: #fff;
				}
			}
			.preview-button {
				&:hover {
					background-color: $m-cyan;
					transition: background-color .2s ease-in, color .2s ease-in;
					color: #fff;
				}
			}
			.column-minus,
			.column-plus{
				&:hover{
					background-color: $m-amber;
					transition: background-color .2s ease-in, color .2s ease-in;
					color: #fff;
				}
			}
		}
	}
	
	.empty.gs-row{
		border: 1px dashed $m-gray;
	}

	.gs-row{
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		display: flex;
		flex-wrap: wrap;
	}

	.empty-get-started {
		position: relative;
		float: left;
		width:100%;
		top: 48%;
		text-align: center;
	}
	.no-transition {
		transition: none !important;
	}
}